{% extends "polls/base.html" %}

{% block content %}
  <h2 class="h3 text-muted d-inline-block me-2">Question #{{ object.id }}</h2>
  <h3 class="h2 d-inline-block">{{ object.subject }}</h3>
  <h3 class="mt-4">Votes</h3>

  <table class="table table-striped table-hover table-sm">
    {% for a in object.answer_set.all %}
      <tr>
      <td>{{ a.vote_set.count }}</td>
      <td>{{ a.subject }}</td>
      </tr>
    {% empty %}
      There aren’t yet any answers.
    {% endfor %}
  </table>

  <div class="question_votes__chart">
  <script class="question_votes__chart_data" type="text/plain">
  {{ object.vote_set_json_base64 }}
  </script>
  </div>

{% endblock %}
